@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; background-color: #202124}

body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        height: 100%;
        display: grid;
        color: beige;
}

#container {
        height: 100%;
        overflow: hidden;
}
.conversation {
        background-color: #313338;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 5px;
        flex: 2;
}
.chat-input {
        padding: 5px;
        height: 40px;
}
.interactions {
        position: relative;
        float: left;
}

textarea {
        background-color: #313338;
        color: beige;
        margin: 5px;
        width: 85%;
        float: left;
}
button {
        margin: 2px;
}

